* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(to right, #e2e2e2, #b4f1b4);
    display: flex;
    
    justify-content: center;
    min-height: 100vh;
    max-height: 500px;
    padding: 20px;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 4rem;
}


.logo-safe{
    margin: 10px;
}

.panel {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 40px;
    width: 100%;
    max-width: 800px;
    min-height: 800px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    
}



.container ul {
    list-style: none;
    padding: 0;
    margin-bottom: 300px;
    align-items: center;
}

.container li {
    margin: 12px 0;
}

.container a{
    display: block;
    padding: 12px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    font-size: 4.5rem;
    margin-bottom: 30px;
}


.opciones_1 {
    background-color: #348d4e;
    color: white;
    font-size: 3rem;
}

.opciones_1:hover {
    background-color: #b4f1b4;
    color: #348d4e;
}

.opciones_2{
    font-size: 3rem;
}



.opciones_2 {
    background-color: #333;
    color: #41bb66;
}


.opciones_2:hover {
    background-color: #e74c3c;
    color: #fff;
}

#canvas-qr{
    width: 400px !important;
    height: 400px !important; 
}

.atras{
    font-size: 1.9rem;
    position: absolute;
    left: 45px;
    padding-bottom: 15px;
    display: block;
    padding: 12px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    background-color: #e74c3c;
    color: white;

}

.atras:hover {
    background-color: #333;
    color: #41bb66;
}